#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Line_2 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-28cddb59-65df-407e-aa8b-335704490d49 #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-28cddb59-65df-407e-aa8b-335704490d49 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}